<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnpython.pythonprograms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnPython">
        <activity android:name=".NumberGuessingGame" />
        <activity android:name=".GenerateRandomStrings" />
        <activity android:name=".ReverseEachWordInTheSentenceKeepingTheWordPositionsTheSame" />
        <activity android:name=".SystematicInvestmentPlanSIPCalculator" />
        <activity android:name=".Quiz16" />
        <activity android:name=".QuizBanner" />
        <activity android:name=".FindNumberOfDigitsInSmallestAndLargestNumberOfList" />
        <activity android:name=".CheckTheListHasOrderedValuesOrNot" />
        <activity android:name=".SwapTwoObjects" />
        <activity android:name=".FindExponentialOfANumberUsingRecursion" />
        <activity android:name=".DisplayTheMessageNTimesUsingRecursion" />
        <activity android:name=".PythonPattern31" />
        <activity android:name=".Quiz15" />
        <activity android:name=".Quiz14" />
        <activity android:name=".PythonPattern30" />
        <activity android:name=".PythonPattern29" />
        <activity android:name=".PythonPattern28" />
        <activity android:name=".PrivacyPolicy" />
        <activity android:name=".PythonPattern27" />
        <activity android:name=".PythonPattern26" />
        <activity android:name=".PythonPattern25" />
        <activity android:name=".PythonPattern24" />
        <activity android:name=".PythonPattern23" />
        <activity android:name=".PythonPattern22" />
        <activity android:name=".PythonPattern21" />
        <activity android:name=".PythonPattern20" />
        <activity android:name=".PythonPattern19" />
        <activity android:name=".PythonPattern18" />
        <activity android:name=".PythonPattern17" />
        <activity android:name=".PythonPattern16" />
        <activity android:name=".PythonPattern15" />
        <activity android:name=".PythonPattern14" />
        <activity android:name=".PythonPattern13" />
        <activity android:name=".PythonPattern12" />
        <activity android:name=".PythonPattern11" />
        <activity android:name=".PythonPattern10" />
        <activity android:name=".PythonPattern9" />
        <activity android:name=".PythonPattern8" />
        <activity android:name=".PythonPattern7" />
        <activity android:name=".PythonPattern6" />
        <activity android:name=".PythonPattern5" />
        <activity android:name=".PythonPattern4" />
        <activity android:name=".PythonPattern3" />
        <activity android:name=".PythonPattern2" />
        <activity android:name=".PythonPattern1" />
        <activity android:name=".PythonPatternsBanner" />
        <activity android:name=".Quiz13" />
        <activity android:name=".PythonProtectedVariablesAndMethods" />
        <activity android:name=".PythonPrivateVariablesAndMethods" />
        <activity android:name=".PythonPublicVariablesAndMethods" />
        <activity android:name=".Quiz12" />
        <activity android:name=".ReverseTheStringUsingUnaryMinusOperatorOverloading" />
        <activity android:name=".ShuffleTheElementsOfList" />
        <activity android:name=".RandomPasswordGenerator" />
        <activity android:name=".Quiz11" />
        <activity android:name=".GenerateRandomOTP" />
        <activity android:name=".PythonInnerClassProgram" />
        <activity android:name=".CallingSuperClassConstructorAndMethods" />
        <activity android:name=".CustomerDataRecordSystem" />
        <activity android:name=".FindNthPrimeNumber" />
        <activity android:name=".PrimeNumbersBetween1ToN" />
        <activity android:name=".MathQuiz" />
        <activity android:name=".FindNthLargestNumberFromList" />
        <activity android:name=".RemoveTheDigitFromNumber" />
        <activity android:name=".FindDifferenceOfDigitsOfNumber" />
        <activity android:name=".LibraryManagementSystem" />
        <activity android:name=".Quiz10" />
        <activity android:name=".FindTheNextElementThatIsDivisibleByKOfAGivenNumber" />
        <activity android:name=".NumberSystemConversion" />
        <activity android:name=".PythonDeleteFile" />
        <activity android:name=".ReverseTheStringUsingRecursion" />
        <activity android:name=".BirthdaySaverApplication" />
        <activity android:name=".Quiz9" />
        <activity android:name=".FindNthEvenOrOddNumberWhichIsDivisibleByK" />
        <activity android:name=".FindNthEvenOrOddNumber" />
        <activity android:name=".PythonReadFileUsingForLoop" />
        <activity android:name=".PythonFileReadline" />
        <activity android:name=".PythonFileRead" />
        <activity android:name=".PythonFileWrite" />
        <activity android:name=".PythonFileHandlingBanner" />
        <activity android:name=".CheckTheNumberIsArmstrongOrNot" />
        <activity android:name=".FindSecondLargestAmongThreeNumbers" />
        <activity android:name=".CheckTheNumberIsPalindromOrNot" />
        <activity android:name=".SumOfFirstAndLastDigitOfNumber" />
        <activity android:name=".CountNumberOfOccurrenceOfDigitInANumber" />
        <activity android:name=".Quiz8" />
        <activity android:name=".PythonExceptionHandlingRaise" />
        <activity android:name=".RaiseTheExceptionWhenUserEnteresTheInvalidName" />
        <activity android:name=".CountNumberOfOccuranceOfCharactersFromString" />
        <activity android:name=".RemoveTheCharactersXFromTheString" />
        <activity android:name=".PythonFinally" />
        <activity android:name=".PythonExceptionHandlingElse" />
        <activity android:name=".PythonMultipleExceptionBlocks" />
        <activity android:name=".PythonTryExceptExample1" />
        <activity android:name=".PythonExceptionHandlingBanner" />
        <activity android:name=".Quiz7" />
        <activity android:name=".JosephusProblemUsingQueue" />
        <activity android:name=".AddValuesInListOfObjectUsingOperatorOverloading" />
        <activity android:name=".DisplayingDataInTabularFormat" />
        <activity android:name=".PythonModulesExample8" />
        <activity android:name=".PythonModulesExample7" />
        <activity android:name=".PythonModulesExample6" />
        <activity android:name=".SortTheValuesOfListWhileAccepting" />
        <activity android:name=".Quiz6" />
        <activity android:name=".Quiz5" />
        <activity android:name=".SeparateTheWordsOfSentence" />
        <activity android:name=".PythonModuleExample5" />
        <activity android:name=".Quiz4" />
        <activity android:name=".Quiz3" />
        <activity android:name=".Quiz2" />
        <activity android:name=".Quiz1" />
        <activity android:name=".PythonModulesExample4" />
        <activity android:name=".PythonModulesExample3" />
        <activity android:name=".PythonModulesExample2" />
        <activity android:name=".PythonModulesExample1" />
        <activity android:name=".ModulesBanner" />
        <activity android:name=".PythonMultiplicationOperatorOverloading" />
        <activity android:name=".PythonLessThanOperatorOverloading" />
        <activity android:name=".PythonGreaterThanOperatorOverloading" />
        <activity android:name=".PythonFloorDivisionOperatorOverloading" />
        <activity android:name=".PythonDivisionOperatorOverloading" />
        <activity android:name=".AddKToEachElementOfListUsingOperatorOverloading" />
        <activity android:name=".ReverseTheWordsOfSentence" />
        <activity android:name=".PythonBinaryMinusOperatorOverloading" />
        <activity android:name=".PythonBinaryPlusOperatorOverloading" />
        <activity android:name=".PythonUnaryPlusOperatorOverloading" />
        <activity android:name=".PythonUnaryMinusOperatorOverloading" />
        <activity android:name=".DetermineTheTypeOfTriangleBySide" />
        <activity android:name=".AddTwoDistancesGivenInKilometerMeter" />
        <activity android:name=".PythonMethodOverriding" />
        <activity android:name=".PythonMethodOverloading" />
        <activity android:name=".CheckIfAStringIsSubstringOfAnother" />
        <activity android:name=".PythonConstructorsInInheritance" />
        <activity android:name=".AcceptUniqueValuesInAnArray" />
        <activity android:name=".PythonHybridInheritance" />
        <activity android:name=".PythonMultipleInheritance" />
        <activity android:name=".PythonMultiLevelInheritance" />
        <activity android:name=".PythonSingleInheritence" />
        <activity android:name=".SumOfNumbersFromXToY" />
        <activity android:name=".PythonInnerClass" />
        <activity android:name=".PythonTypesOfMethods" />
        <activity android:name=".PythonClassVariables" />
        <activity android:name=".PythonPassingObjects" />
        <activity android:name=".PythonConstructors" />
        <activity android:name=".FindLCMOfThreeNumbers" />
        <activity android:name=".FindLCMOfTwoNumbers" />
        <activity android:name=".FindGCDOfThreeNumbers" />
        <activity android:name=".FindGCDOfTwoNumbers" />
        <activity android:name=".PythonClassesAndObjects" />
        <activity android:name=".ClassesAndObjectsBanner" />
        <activity android:name=".ReverseTheNumber" />
        <activity android:name=".AlgebricFormulasCalculator" />
        <activity android:name=".FindThePairInArrayWhichHasMaximumSum" />
        <activity android:name=".CheckTheNumberIsPrimeOrNotNewMEthod" />
        <activity android:name=".DisplayAllTheDivisorsOfNumber" />
        <activity android:name=".AcceptingParagraph" />
        <activity android:name=".ShoppingProductsCalculator" />
        <activity android:name=".ProjectsBanner" />
        <activity android:name=".SumOfArithmeticSequence" />
        <activity android:name=".ExpandedFormOfNumber" />
        <activity android:name=".DoubleTheNumberForNthTimes" />
        <activity android:name=".CountNumberOfRepeatedLettersInString" />
        <activity android:name=".DisplayTheNumberInWords" />
        <activity android:name=".ConvertTheBinaryNumberIntoDecimal" />
        <activity android:name=".DisplayTheMonthAndNumberOfDays" />
        <activity android:name=".FindKthDigitOfNumber" />
        <activity android:name=".AddTheNumbersUntilUserStops" />
        <activity android:name=".CountingDigits" />
        <activity android:name=".ConvertingTheDecimalNumberToBinaryManually" />
        <activity android:name=".FindThePairsInListWhereSumOfThesePairsIsDivisibleByK" />
        <activity android:name=".GradingStudents" />
        <activity android:name=".CheckTheStringIsPalindromOrNot" />
        <activity android:name=".TimeConversion" />
        <activity android:name=".FindTheRatioOfElementsThatArePositiveNegativeAndZero" />
        <activity android:name=".DiagonalDifferenceOfMatrix" />
        <activity android:name=".DisplayFirstNumberWhoseSumOfDigitsIsEqualToK" />
        <activity android:name=".DisplayArmstrongNumbersBetweenOneToN" />
        <activity android:name=".KthSmallestElementInList" />
        <activity android:name=".ListOfObjects" />
        <activity android:name=".ProductOfArrayExceptSelf" />
        <activity android:name=".FormLargestNumberFromGivenArray" />
        <activity android:name=".CheckTheArrayHasUniqueValuesOrNot" />
        <activity android:name=".RotateArray" />
        <activity android:name=".CheckPasswordIsStrongOrNot" />
        <activity android:name=".DisplayPerfectSquareNumbersFromOneToN" />
        <activity android:name=".CountAndSayNumbers" />
        <activity android:name=".SeperateConsonantsAndVowelsFromString" />
        <activity android:name=".ProgramsBanner" />
        <activity android:name=".PythonTypesOfFunctionArguments" />
        <activity android:name=".PythonLambdaFunction" />
        <activity android:name=".PythonRecursion" />
        <activity android:name=".PythonGlobalAndLocalVariables" />
        <activity android:name=".PythonKeywordArguments" />
        <activity android:name=".PythonFunctionsPart2" />
        <activity android:name=".PythonFunctions" />
        <activity android:name=".PythonFunctionsBanner" />
        <activity android:name=".PythonMultidimenstionalArray" />
        <activity android:name=".PythonArrayUsingNumpy" />
        <activity android:name=".PythonArray" />
        <activity android:name=".PythonContinueKeyword" />
        <activity android:name=".PythonBreakKeyword" />
        <activity android:name=".PythonForLoop" />
        <activity android:name=".PythonWhileLoop" />
        <activity android:name=".PythonIfElse" />
        <activity android:name=".PythonInput" />
        <activity android:name=".PythonDictionary" />
        <activity android:name=".PythonSet" />
        <activity android:name=".PythonTuple" />
        <activity android:name=".PythonList" />
        <activity android:name=".PythonVariables" />
        <activity android:name=".PythonComments" />
        <activity android:name=".PythonPrintStatement" />
        <activity android:name=".PythonBasics" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdMob_app_ID"/>

    </application>

</manifest>